$font-stack: "Jost", sans-serif
$accent-color: #F093DC
$text-color: white

//Header

header
  display: flex
  height: 60px
  flex-direction: row
  justify-content: center
  align-items: center
  padding: 16px 0
  font-weight: 900
  font-size: 200%
  .scramble
    color: $accent-color

.page-container
  background: #161616
  height: 100vh
  font: 26px $font-stack
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  color: $text-color

  //Starting screen

  .info-container
    display: flex
    flex-direction: column
    p
      margin: 0
      padding: 0 10px 0 10px
      flex-grow: 2
    .user-info
      margin: 30px 0 0 0
      display: flex
      flex-direction: row
      align-items: center
    .timer-info
      margin: 0 0 30px 0
      display: flex
      flex-direction: row
      align-items: center

  //Game

  .progress-container
    display: flex
    flex-direction: row
    width: 40%
    margin: 10px 0 10px 0
    .timer-container
      flex-grow: 2
      text-align: end

  .user-input-field
    display: flex
    flex-direction: row
    gap: 10px

  //Results

  .leaderboard
    display: flex
    flex-direction: column
    width: 30%
    #name
      margin: 10px
    p
      margin: 0
    #profile
      display: flex
      flex-direction: column
      justify-content: space-evenly
      .flex
        display: flex
        flex-direction: row
        justify-content: space-evenly
        column-gap: 5px
        .item
          width: 100%
      .columns
        background-color: #202020
        display: flex
        flex-direction: row
        justify-content: space-evenly
        .item
          width: 100%
        .item:first-child
          border-right: 5px solid #161616

  .buttons
    display: flex
    flex-direction: row
    column-gap: 5px
    justify-content: space-evenly
    width: 25%
    margin: 10px 0 30px 0
    button
      width: 100%
      margin: 5px

input
  margin: 10px 0 10px 0
  width: 321px
  height: 40px
  border-radius: 12px
  border: 1px transparent
  font: 20px $font-stack
  padding: 1px 10px 1px 10px

button
  background-color: $accent-color
  height: 40px
  padding: 0 52px
  margin: 10px 0 10px 0
  border-radius: 13px
  border: 1px transparent
  font: 20px $font-stack
  &:hover
    box-shadow: 0 0 8px 0 rgba(243, 120, 231, 0.37)
    cursor: pointer

.board
  display: flex
  flex-direction: row
  gap: 10px
  align-items: center
  justify-content: center
  .square-bg
    width: 70px
    height: 70px
    border-radius: 8px
    background-color: #202020
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center